[submodule "gpcc"]
	path = gpcc
	url = ../gpcc.git
	branch = develop
[submodule "googletest"]
	path = googletest
	url = ../../google/googletest.git
[submodule "toolchain_configs"]
	path = toolchain_configs
	url = ../toolchain_configs.git
	branch = master
